/DTCantidad.class
/DTEmpresa.class
/DTEmpresaCompleto.class
/DTOferta.class
/DTOfertaCompleto.class
/DTPaquete.class
/DTPaqueteCompleto.class
/DTPostulacion.class
/DTPostulacionCompleto.class
/DTPostulante.class
/DTPostulanteCompleto.class
/DTTipoDeOferta.class
/DTUsuario.class
/EstadoOferta.class
/EstadoSesion.class
